.main .left iframe{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}
  .main .right .home{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .main{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}




[data-tooltip] {
  position: relative;
  display: inline-block;
}

[data-tooltip]:before, [data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 999999;
}

[data-tooltip]:before {
  content: '';
  position: absolute;
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
}

[data-tooltip]:after {
  height: 22px;
  padding: 11px 11px 0 11px;
  font-size: 13px;
  line-height: 11px;
  content: attr(data-tooltip);
  white-space: nowrap;
}

[data-tooltip].simptip-position-top:before {
  border-top-color: #323232;
}

[data-tooltip].simptip-position-top:after {
  background-color: #323232;
  color: #ecf0f1;
}

[data-tooltip].simptip-position-bottom:before {
  border-bottom-color: #323232;
}

[data-tooltip].simptip-position-bottom:after {
  background-color: #323232;
  color: #ecf0f1;
}

[data-tooltip].simptip-position-left:before {
  border-left-color: #323232;
}

[data-tooltip].simptip-position-left:after {
  background-color: #323232;
  color: #ecf0f1;
}

[data-tooltip].simptip-position-right:before {
  border-right-color: #323232;
}

[data-tooltip].simptip-position-right:after {
  background-color: #323232;
  color: #ecf0f1;
}

[data-tooltip].simptip-position-top.half-arrow:before {
  border-right: 7px solid #323232;
}

[data-tooltip].simptip-position-bottom.half-arrow:before {
  border-right: 7px solid #323232;
}

[data-tooltip]:hover, [data-tooltip]:focus {
  background-color: transparent;
}

[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after {
  visibility: visible;
  opacity: 1;
}

/******************************* Position ****************************/

.simptip-position-right.simptip-movable:before, .simptip-position-right.simptip-movable:after, .simptip-position-left.simptip-movable:before, .simptip-position-left.simptip-movable:after, .simptip-position-top.simptip-movable:before, .simptip-position-top.simptip-movable:after, .simptip-position-bottom.simptip-movable:before, .simptip-position-bottom.simptip-movable:after {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
